.App {
  text-align: top;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;
  color: white;
}

.st-detail {
  padding-bottom: 20px;
}

.st-author {
  text-align: right;
  width: 90%;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: #5AB9EA,
}


/*
Option A

#5680E9
#84CEEB
#5AB9EA
#C1C8E4
#8860D0
*/

/*
Option B

#25274D
#464866
#AAABB8
#2E9CCA
#29648A
*/
