.App {
  position: relative;
  height: 100vw;
  width: 100vw;
}

.App-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  transform:translate(-50%, -50%);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.author {
  font-size: calc(10px + 1vmin);
  text-align: right;
  padding-right: 10vmin;
  padding-top: 5vmin;
}

.card {
  display: none;
}

.card-list {
  padding-inline-start: 0;
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
}

nav {
  text-align: center;
  display: flex;
  justify-content:space-evenly;
  padding-top: 5vmin;
}

.next {
  transform: rotate(-45deg);
}

.prev, .next {
  display: inline-block;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  width: 10px; height: 10px;
  cursor: pointer;
}

.prev {
  transform: rotate(-225deg);
}

.show {
  display: inline !important;
}
.title {
  font-size: calc(10px + 2vmin);
}
